cycler==0.10.0
Cython==0.25.2
graphs==0.1.2
matplotlib==2.0.2
networkx==1.8.1
nose-parameterized==0.6.0
numpy==1.12.1
olefile==0.44
Pillow==4.1.1
protobuf==3.3.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sonnet==1.0
tensorflow==1.1.0rc0
tqdm==4.14.0
Werkzeug==0.12.2
